mixin media($data)
  - $ass = $data['ass']
  - $extraC = isset($data['class']) ? $data['class'] : ''
  - $lazy = $data['lazy'] ?? 1
  - $auto = $data['auto'] ?? 'no'
  - $xx = isset($data['xx']) ? $data['xx'] : NULL;
  - $enter = isset($data['enter']) ? $data['enter'] : NULL;
  - $entersm = isset($data['entersm']) ? $data['enter'] : NULL;
  - $controls = isset($data['controls']) ? true : false
  - $type = isset($ass['type']) ? $ass['type'] : 'im'

  - $ass['url'] = $ass['url']
  - $ass['sm']['url'] = isset($ass['sm']['url']) ? $ass['sm']['url'] : NULL

  - $respSM = ($ass['url'] === $ass['sm']['url']) ? NULL : $ass['sm']['url']
  - $respLG = ($ass['url'] === $ass['sm']['url']) ? NULL : $ass['url']

  - $target =  isset($data['target']) ? $data['target'] : NULL

  //- Si el type es distinto en LG y SM ( Le mete display none)
  - if ($type != $ass['sm']['type'])
    - $LGextraC = 'resplg'.' '.$extraC
    - $SMextraC = 'respsm'.' '.$extraC
    //- LG
    if $type == 'vid'
      if $lazy == 0 
        video(
          class=$LGextra.' WT'
          controls?=$controls 
          data-auto=$auto 
          data-srclg?=$respLG 
          width=$ass['w'] 
          height=$ass['h'] 
          muted="true"
          alt=$ass['alt']
          loading="none"
          data-target?=$target
        )
      else
        video(
          class=$LGextraC.' LZ'
          loading="none"
          controls?=$controls
          data-enter?=$enter 
          data-xx?=$xx 
          autoplay?=$auto 
          playsinline=true 
          data-srclg?=$respLG  
          data-auto?=$auto 
          src=$ass['url'] 
          muted="true" 
          width=$ass['w'] 
          height=$ass['h'] 
          alt=$ass['alt']
          data-target?=$target
        )
    
    else
      if $lazy == 0
        img(
          class=$LGextraC.' WT'
          data-srclg=$ass['url'] 
          width=$ass['w'] 
          height=$ass['h'] 
          alt=$ass['alt']
          data-target?=$target
        )
      else
        img(
          class=$LGextraC.' LZ'
          data-enter?=$enter 
          data-xx?=$xx
          loading="lazy" 
          src=$ass['url']
          width=$ass['w'] 
          height=$ass['h']
          data-target?=$target
        )
    
    //- SM
    - $type = $ass['sm']['type']
    
    if $type == 'vid'
      if $lazy == 0 
        video(
          class=$SMextraC.' WT'
          controls?=$controls 
          data-auto=$auto 
          data-srcsm=$respSM 
          width=$ass['sm']['w'] 
          height=$ass['sm']['h'] 
          muted="true"
          alt=$ass['alt']
          loading="none"
          data-target?=$target
        )
      else
        video(
          class=$SMextraC.' LZ'
          loading="none"
          controls?=$controls 
          data-enter?=$enter 
          data-entersm?=$entersm 
          data-xx?=$xx 
          autoplay?=$auto 
          playsinline=true 
          data-srcsm?=$respSM 
          data-auto?=$auto 
          src=$ass['sm']['url'] 
          muted="true"
          width=$ass['sm']['w'] 
          height=$ass['sm']['h'] 
          alt=$ass['alt']
          data-target?=$target
          )

    else
      if $lazy == 0
        img.WT(
          class=$SMextraC.' WT'
          data-srcsm?=$respSM
          width=$ass['sm']['w'] 
          height=$ass['sm']['h'] 
          alt=$ass['alt']
          data-target?=$target
        )
      else
        img(
          class=$SMextraC.' LZ'
          data-enter?=$enter 
          data-entersm?=$entersm  
          data-xx?=$xx 
          loading="lazy"  
          src=$ass['sm']['url'] 
          width=$ass['sm']['w'] 
          height=$ass['sm']['h']
          data-target?=$target
        )
    

  else
    //- Si el type es igual en LG y SM, full resp, no necesita el data-SRC, bebe del SM y el LG.
    if $type == 'vid'
      if $lazy == 0
        video.WT(
          class=$extraC 
          controls?=$controls 
          data-auto=$auto
          data-srcsm?=$respSM
          data-srclg?=$respLG
          width=$ass['w'] 
          height=$ass['h'] 
          muted="true" 
          alt=$ass['alt']
          data-target?=$target
        )
      else
        // SAME VID
        video.LZ(
          style="--ratio:".$ass['w'].'/'.$ass['h'].";--ratioSM:".$ass['sm']['w'].'/'.$ass['sm']['h'].";"
          class=$extraC.' vidResp'
          loading="none"
          controls?=$controls 
          data-enter?=$enter 
          data-entersm?=$entersm 
          data-xx?=$xx 
          autoplay?=$auto 
          playsinline=true 
          data-srcsm?=$respSM
          data-srclg?=$respLG
          data-auto?=$auto
          muted="true" 
          width=$ass['w'] 
          height=$ass['h'] 
          alt=$ass['alt']
          data-target?=$target
        )
    else
      if $lazy == 0
        

           
        picture(class=$extraC style="--ratio:".$ass['w'].'/'.$ass['h'].";--ratioSM:".$ass['sm']['w'].'/'.$ass['sm']['h'].";")
          source(srcset=$ass['sm']['url'] media="(max-width:1195px)" width=$ass['sm']['w'] height=$ass['sm']['h'])
          source(srcset=$ass['url'] media="(min-width:1194px)" width=$ass['w'] height=$ass['h'])
          img.WT(
            alt=$ass['alt']
            data-target?=$target 
          )
      else
    
        picture(class=$extraC style="--ratio:".$ass['w'].'/'.$ass['h'].";--ratioSM:".$ass['sm']['w'].'/'.$ass['sm']['h'].";")
          source(srcset=$ass['sm']['url'] media="(max-width:1195px)" width=$ass['sm']['w'] height=$ass['sm']['h'])
          source(srcset=$ass['url'] media="(min-width:1194px)" width=$ass['w'] height=$ass['h'])
          img(
            data-xx?=$xx
            data-enter?=$enter 
            data-entersm?=$entersm  
            loading="lazy" 
            alt=$ass['alt']
            data-target?=$target
          )

    